extends ./layout.pug

block content
  .container.col-md-2.col-sm-12.col-lg-2.col-xs-12
    h3.smSearchtxt Search Books
      form(action="/", method="get")
        input.form-control(type="text", name="search_query", placeholder="Author, Title, Genre")
        .form-group
          br
          label(for='sel1') Select Genre (Optional):
          select#sel1.form-control
            option Fantasy
            option Sci Fi
            option Romance
            option Young Adult
            option Comedy
            option Space
            option Aliens
            option Strong Female Lead
            option Dystopia
            option Female Author
            option Classic
        div
          br
          input.btn.pull-right(type="submit", value="find")
  .container.col-lg-10.col-md-10.col-sm-12.col-xs-12
    for book in books
      div.container
        div.col-lg-11.col-md-10.evenSpaceGiver
          .col-md-2.col-sm-2.col-xs-6.evenSpaceGiver
            div.evenSpaceGiver
              img.bookListImg.img-responsive(src=book.img_url)
          .col-md-3.col-sm-3.pull-left-xs.col-xs-6.evenSpaceGiver
            a(href="/books/"+book.id)
              h3=book.title
          .col-md-7.col-sm-7.col-xs-12.evenSpaceGiver
            p=book.description
    div.prevnext
      div.prevnext
        if page > 1
          a(href="/?page="+(page-1)) Prev
      div.prevnext
        a(href="/?page="+(page+1)) Next


