extends ./layout.pug

block content
  div.container.col-md-10
    for book in books
      div.container
        .co.col-md-2
          img.thumbnail.bookListImg(src='http://bestanimations.com/Books/guy-man-reading-book-animation-1.gif')
        div.col-md-10
          .col-md-2
            p=book.title
          .col-md-2
            p author
          .col-md-1
            p genres
          .col-md-7
            p=book.description
            p Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. De carne lumbering animata corpora quaeritis. Summus brains sit​​, morbo vel maleficia? 
