extends ./layout.pug

block content
  div.container.col-md-10.col-sm-9.col-lg-10.col-xs-5
    for book in books
      div.container
        div.col-md-10
          .col-md-2
            img.bookListImg(src=book.img_url)
          .col-md-2
            a(href="/books/"+book.id)=book.title
          .col-md-6
            p=book.description
          .col-md-1
    div.prevnext
      div.prevnext
        if page > 1
          a(href="/?page="+(page-1)) Prev
      div.prevnext
        a(href="/?page="+(page+1)) Next
